* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 375px;
  min-height: 100vh;
  background: $dark1;
  margin: 0;
  padding: 0;

  @media (min-width: $tabletW) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktopW) {
    font-size: 20px;
    line-height: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.red-button {
  font-size: 18px;
  text-decoration: none;
  color: $white;
  position: relative;
  display: flex;
  background-color: $red2;
  width: max-content;
  margin: 30px auto 0 auto;
  padding: 12px 15px;
  border-radius: 25px;
  transition: $basic;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 148px;
    height: 41px;
    border: 2px solid $red2;
    border-radius: 25px;
    transform: translateX(-15px) translateY(-12px);
    transition: $basic;
    z-index: -1;
  }

  &:hover {
    transition: $basic;
    opacity: $basicOp;

    &::before {
      transform: translateX(-7px) translateY(-5px);
    }
  }

  &:lang(en) {
    &::before {
      width: 113px;
    }
  }

  &--buy {
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    &::before {
      width: 92px;
      height: 37px;
      transform: translateX(-18px) translateY(-9px);
    }

    &:hover {
      &::before {
        transform: translateX(-6px) translateY(-2px);
      }
    }

    &:lang(en) {
      &::before {
        width: 64px;
      }
    }
  }

  @media (min-width: $tabletW) {
    font-size: 20px;
    margin: 40px auto 0 auto;
    padding: 16px;

    &::before {
      width: 164px;
      height: 47px;
    }

    &:lang(en) {
      &::before {
        width: 123px;
      }
    }

    &--buy {
      padding: 10px 23px;

      &::before {
        width: 100px;
        height: 40px;
      }

      &:lang(en) {
        &::before {
          width: 69px;
        }
      }
    }
  }

  @media (min-width: $desktopW) {
    font-size: 22px;
    margin: 60px auto 0 auto;
    padding: 20px 22px;
    border-radius: 30px;

    &::before {
      width: 188px;
      height: 57px;
      transform: translateX(-20px) translateY(-17px);
      border-radius: 30px;
    }

    &:hover {
      &::before {
        transform: translateX(-5px) translateY(-5px);
      }
    }

    &:lang(en) {
      &::before {
        width: 143px;
      }
    }

    &--buy {
      font-size: 30px;
      margin: 0;
      justify-self: center;
      align-self: start;
      padding: 8px 30px;

      &::before {
        width: 150px;
        height: 47px;
        transform: translateX(-30px) translateY(-6px);
      }

      &:hover {
        &::before {
          transform: translateX(-15px) translateY(3px);
        }
      }

      &:lang(en) {
        &::before {
          width: 105px;
        }
      }
    }
  }
}
