.pay {
  display: none;

  &--active {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.95;
    z-index: 10;

    .pay__form {
      color: $white;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $black;
      top: 25%;
      left: 8%;
      right: 8%;
      padding: 15px 20px;
      border: 1px solid $grey;
      border-radius: 10px;
    }
  }
}

.pay__cancel {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 35px;
  height: 35px;
  background-color: $white;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 3;
  transition: $basic;

  &:hover,
  &:focus {
    transition: $basic;
    opacity: $basicOp;
  }
}

.pay__email {
  color: $white;
  width: 200px;
  height: 30px;
  margin: 15px 0 20px 0;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid $white;

  &::placeholder {
    color: $white;
  }
}

.pay__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pay__item {
  display: flex;
  justify-content: space-between;
}

.pay__item-info {
  color: $grey;
}

.pay__submit {
  font-family: 'Another-danger', 'Arial', serif;
  font-size: 19px;
  letter-spacing: 7px;
  color: $white;
  background-color: $red2;
  width: 188px;
  margin: 15px 0 0 0;
  padding: 5px 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: $basic;

  &:hover {
    transition: $basic;
    opacity: $basicOp;
  }

  // Отключение оплаты для иностранцев, пока не настроена оплата для них
  &:lang(en) {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
}

@media (min-width: $tabletW) {
  .pay {
    &--active {
      .pay__form {
        top: 27%;
        left: 15%;
        right: 15%;
        padding: 25px 70px;
      }
    }
  }

  .pay__cancel {
    width: 40px;
    height: 40px;
  }

  .pay__email {
    width: 250px;
  }

  .pay__list {
    width: 350px;
  }

  .pay__submit {
    margin: 20px 0 0 0;
  }
}

@media (min-width: $desktopW) {
  .pay {
    &--active {
      .pay__form {
        left: 25%;
        right: 25%;
        padding: 40px 90px;
      }
    }
  }

  .pay__cancel {
    right: 15%;
    width: 50px;
    height: 50px;
  }

  .pay__list {
    row-gap: 10px;
    width: 400px;
  }

  .pay__submit {
    height: 55px;
  }
}
