.programs {
  background-image: url("../img/bg-index.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  padding: 40px 0;
}

.programs__title {
  font-family: 'Another-danger', 'Arial', serif;
  letter-spacing: 6px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.programs__program-info {
  margin-top: 50px;
}

.programs__link {
  text-decoration: none;
  color: $white;
  position: relative;
  transition: $basic;

  &:hover,
  &:focus {
    transform: scale(1.04);
    transition: $basic;

    .programs__img {
      box-shadow: $shadow;
    }
  }

  &--unactive {
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-color: $black;
      width: 330px;
      height: 400px;
      opacity: 0.7;
      z-index: 7;
    }

    &::after {
      content: "В разработке";
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 30%;
      z-index: 8;
    }
  }
}

.programs__program-name {
  font-family: 'Another-danger', 'Arial', serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 0 40px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30px;
    height: 2px;
    border-radius: 1px;
  }

  &::before {
    left: 30px;
  }

  &::after {
    right: 30px;
  }

  &--street {
    &::before,
    &::after {
      background-color: $red;
    }
  }

  &--force {
    &::before,
    &::after {
      background-color: $blue;
    }
  }

  &--statics {
    &::before,
    &::after {
      background-color: $yellow;
    }

    &::before {
      left: 5px;
    }

    &::after {
      right: 5px;
    }
  }
}

.programs__program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__program-item {
  display: flex;
}

.programs__img {
  border-radius: 3px;
}

.programs__price {
  font-size: 23px;
  color: $white;
  font-weight: 500;
  text-shadow: $black 1px 4px 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: $redOp;
  padding: 5px 10px;
  border-radius: 5px;

  &::before {
    content: "Купить";
    color: $white;
    position: absolute;
    top: 0px;
    right: 90px;
    background-color: $blackOp;
    width: inherit;
    height: inherit;
    padding: 5px 10px;
    border-radius: 5px;
  }
}

@media (min-width: $tabletW) {
  .programs {
    padding: 60px 0;
  }

  .programs__title {
    font-size: 28px;
    line-height: 36px;
  }

  .programs__link {
    &--unactive {
      &::before {
        width: 300px;
        height: 380px;
      }

      &::after {
        left: 27%;
      }
    }
  }

  .programs__program-name {
    font-size: 22px;
    line-height: 30px;

    &::before,
    &::after {
      width: 40px;
    }

    &::before {
      left: 20%;
    }

    &::after {
      right: 20%;
    }
  }

  .programs__img {
    width: 300px;
    height: 380px;
  }

  .programs__program-list {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: $desktopW) {
  .programs {
    padding: 100px 0 100px 0;
  }

  .programs__title {
    font-size: 34px;
    line-height: 42px;
  }

  .programs__program-info {
    margin-top: 70px;
  }

  .programs__link {
    &--unactive {
      &::before {
        width: 380px;
        height: 480px;
      }

      &::after {
        font-size: 30px;
        left: 25%;
      }
    }
  }

  .programs__program-name {
    font-size: 26px;
    line-height: 34px;
  }

  .programs__program-list {
    row-gap: 50px;
  }

  .programs__img {
    width: 380px;
    height: 480px;
  }
}
