.programs {
  background-image: url("../img/bg-index.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding: 40px 0;
}

.programs__title {
  font-family: 'Another-danger', 'Arial', serif;
  letter-spacing: 7px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.programs__program-info {
  margin-top: 90px;
}

.programs__link {
  text-decoration: none;
  color: $white;
  position: relative;
  transition: $basic;

  &:hover,
  &:focus {
    transform: scale(1.04);
    transition: $basic;

    .programs__img {
      box-shadow: $shadow;
    }
  }

  &--unactive {
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      background-color: $black;
      width: 330px;
      height: 400px;
      opacity: 0.7;
      z-index: 7;
    }

    &::after {
      content: "В разработке";
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 30%;
      z-index: 8;
    }

    &:lang(en) {
      &::after {
        content: "In development";
      }
    }
  }
}

.programs__program-name {
  font-family: 'Another-danger', 'Arial', serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 0 40px 0;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    font-size: 10px;
    top: -65px;
    opacity: 0.8;
    left: 0%;
    right: 0%;
  }

  &::after {
    height: 100%;
    border-radius: 2px;
    z-index: -1;
  }

  &--street {
    &::before {
      content: "если нужны силовые результаты и мышечная масса...";
    }

    &::after {
      left: 55px;
      width: 90px;
      background-color: $red;
    }

    &:lang(en) {
      &::before {
        content: "if you need strength results and muscle mass...";
      }
    }
  }

  &--force {
    &::before {
      content: "но если хочешь взрывную силу и скорость...";
    }

    &::after {
      right: 65px;
      width: 95px;
      background-color: $blue;
    }

    &:lang(en) {
      &::before {
        content: "but if you want explosive power and speed...";
      }
    }
  }
}

.programs__program-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__program-item {
  display: flex;
}

.programs__img {
  border-radius: 8px;
}

.programs__price {
  font-size: 23px;
  color: $white;
  font-weight: 500;
  text-shadow: $black 1px 4px 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: $redOp;
  padding: 5px 10px;
  border-radius: 5px;

  &::before {
    content: "Подробнее";
    color: $white;
    position: absolute;
    top: 0px;
    right: 90px;
    background-color: $blackOp;
    width: inherit;
    height: inherit;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &:lang(en) {
    &::before {
      content: "More";
    }
  }
}

@media (min-width: $tabletW) {
  .programs {
    padding: 60px 0;
  }

  .programs__title {
    font-size: 28px;
    line-height: 36px;
  }

  .programs__link {
    &--unactive {
      &::before {
        width: 300px;
        height: 380px;
      }

      &::after {
        left: 27%;
      }
    }
  }

  .programs__program-name {
    font-size: 22px;
    line-height: 30px;

    &::before {
      font-size: 11px;
      top: -50px;
    }

    &--street {
      &::after {
        left: 215px;
        width: 100px;
      }
    }

    &--force {
      &::after {
        right: 225px;
        width: 100px;
      }
    }
  }

  .programs__img {
    width: 300px;
    height: 380px;
  }

  .programs__program-list {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: $desktopW) {
  .programs {
    padding: 100px 0 100px 0;
  }

  .programs__title {
    font-size: 40px;
    line-height: 50px;
  }

  .programs__program-info {
    margin-top: 100px;
  }

  .programs__link {
    &--unactive {
      &::before {
        width: 450px;
        height: 550px;
      }

      &::after {
        font-size: 30px;
        left: 30%;
      }
    }
  }

  .programs__program-name {
    font-size: 30px;
    line-height: 40px;

    &::before {
      font-size: 13px;
      top: -60px;
    }

    &--street {
      &::after {
        left: 410px;
        width: 120px;
      }
    }

    &--force {
      &::after {
        right: 420px;
        width: 130px;
      }
    }
  }

  .programs__program-list {
    row-gap: 50px;
  }

  .programs__img {
    width: 450px;
    height: 550px;
  }
}
