.red-button {
  font-family: 'Another-danger', 'Arial', serif;
  letter-spacing: 4px;
  font-size: 18px;
  text-decoration: none;
  color: $white;
  position: relative;
  display: flex;
  background-color: $red2;
  width: max-content;
  margin: 30px auto 0 auto;
  padding: 12px 15px;
  border-radius: 7px;
  transition: $basic;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 198px;
    height: 41px;
    border: 2px solid $red2;
    border-radius: 7px;
    transform: translateX(-15px) translateY(-12px);
    transition: $basic;
    z-index: -1;
  }

  &:hover {
    transition: $basic;
    opacity: $basicOp;

    &::before {
      transform: translateX(-7px) translateY(-5px);
    }
  }

  &--buy {
    padding: 9px 18px;
    border: none;
    cursor: pointer;

    &::before {
      width: 107px;
      height: 45px;
      transform: translateX(-18px) translateY(-9px);
    }

    &:hover {
      &::before {
        transform: translateX(-6px) translateY(-2px);
      }
    }
  }
}

@media (min-width: $tabletW) {
  .red-button {
    font-size: 20px;
    margin: 40px auto 0 auto;
    padding: 16px;

    &::before {
      width: 211px;
      height: 48px;
    }

    &--buy {
      padding: 10px 23px;

      &::before {
        width: 120px;
        height: 50px;
      }
    }
  }
}

@media (min-width: $desktopW) {
  .red-button {
    font-size: 22px;
    margin: 60px auto 0 auto;
    padding: 22px;

    &::before {
      width: 236px;
      height: 58px;
      transform: translateX(-20px) translateY(-17px);
    }

    &:hover,
    &:focus {
      &::before {
        transform: translateX(-5px) translateY(-5px);
      }
    }

    &--buy {
      font-size: 30px;
      margin: 0;
      justify-self: center;
      align-self: start;
      padding: 8px 30px;

      &::before {
        width: 167px;
        height: 62px;
        transform: translateX(-30px) translateY(-6px);
      }

      &:hover,
      &:focus {
        &::before {
          transform: translateX(-15px) translateY(3px);
        }
      }
    }
  }
}
