.train-button {
  font-family: 'Another-danger', 'Arial', serif;
  letter-spacing: 4px;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  display: flex;
  background-color: $red2;
  width: max-content;
  margin: 30px auto 0 auto;
  padding: 11px;
  border-radius: 5px;
  transition: $basic;

  &:hover,
  &:focus {
    transition: $basic;
    opacity: $basicOp;
    box-shadow: $shadow;
  }
}

@media (min-width: $tabletW) {
  .train-button {
    font-size: 18px;
    margin: 40px auto 0 auto;
    padding: 16px;
  }
}

@media (min-width: $desktopW) {
  .train-button{
    font-size: 22px;
    margin: 60px auto 0 auto;
    padding: 22px;
  }
}
