.train-button {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  display: flex;
  background-color: $red2;
  width: max-content;
  margin: 30px auto 40px auto;
  padding: 11px;
  border-radius: 5px;
  transition: $basic;

  &:hover,
  &:focus {
    transition: $basic;
    opacity: $basicOp;
    box-shadow: $shadow;
  }
}
