.about {
  scroll-margin-top: 3em;
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .about__img {
//   display: block;
//   background-image: url("../img/p1.png");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: 50%;
//   width: 330px;
//   height: 320px;
//   // background-color: $yellow;
//   // border-radius: 50px;
//   // backdrop-filter: blur(90px);
//   margin: 0 0 25px 0;
// }

.about__title {
  text-transform: uppercase;
}

.about__description {
  text-align: center;
  width: 330px;

  &--one {
    margin-top: 20px;
  }

  &--two {
    color: $grey;
    margin-top: 25px;
  }
}

.about__button {
  position: relative;
  margin-top: 65px;

  &::before {
    content: "";
    position: absolute;
    top: -38px;
    width: 29px;
    height: 29px;
    background-image: url("../img/icons/crown.svg");
    background-repeat: no-repeat;
  }
}
