.intro {
  margin-top: 59px;
}

.intro__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.intro__title {
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  width: 290px;
}

.intro__description {
  color: $grey;
  text-align: center;
  position: relative;
  width: 260px;
  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 120px;
    background-image: url("../img/icons/crown.svg");
    width: 25px;
    height: 25px;
  }
}

.intro__buttons {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 360px;
  margin-top: 30px;
  box-shadow: 0 0 55px 90px rgba($black, 0.6);
}

.intro__button {
  text-transform: uppercase;
  text-decoration: none;
  // color: $white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;

  // &--buy {
  //   color: $dark;
  //   background: $gold;
  //   border-radius: 5px;
  // }

  &--about {
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
  }
}

.intro__img {
  position: relative;
  display: block;
  margin: 25px auto 0 auto;
  z-index: -1;
}
