.main-footer {
  padding: 15px 0;
  border-top: 2px solid $grey;
}

.main-footer__logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 65px;
  height: 38px;
  transition: $basic;

  &:hover,
  &focus {
    opacity: $basicOp;
    transition: $basic;
  }
}

.main-footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-footer__socials-list {
  display: flex;
  column-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer__socials-item {
  display: flex;
}

.main-footer__socials-link {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  transition: $basic;

  &:hover,
  &:focus {
    opacity: $basicOp;
    transition: $basic;
  }

  &--instagram {
    background-image: url("../img/icons/instagram.svg");
  }

  &--telegram {
    background-image: url("../img/icons/telegram.svg");
  }

  &--vk {
    background-image: url("../img/icons/vk.svg");
  }

  &--youtube {
    background-image: url("../img/icons/youtube.svg");
  }

  &--tiktok {
    background-image: url("../img/icons/tiktok.svg");
  }

  &--mail {
    background-image: url("../img/icons/mail.svg");
  }
}

.main-footer__copyright {
  text-align: center;
  margin: 15px auto 0 auto;
}
