.about {
  scroll-margin-top: 3em;
  background-image: url("../img/about-bg.png");
  background-color: rgba($black, 0.6);
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 55px 60px rgba($black, 0.6);

  @media (min-width: $tablet) {
    background-image: url("../img/tablet/about-bg.png");
    box-shadow: 0px 0px 70px 85px rgba($black, 0.6);
  }

  // @media (min-width: $tabletPlus) {
  //   background-image: url("../img/desktop/about-bg.png");
  // }
}

.about__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tabletPlus) {
    position: relative;
    margin-left: 425px;

    &::before {
      content: "";
      position: absolute;
      // top: 45px;
      bottom: 0;
      left: -425px;
      background-image: url("../img/desktop/about-img.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 390px;
      height: 470px;
    }
  }
}

.about__title {
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 60px;
  }
}

.about__description {
  text-align: center;
  width: 360px;

  &--one {
    margin-top: 20px;
  }

  &--two {
    color: $grey;
    margin-top: 25px;
  }

  @media (min-width: $tablet) {
    width: 620px;

    &--one {
      margin-top: 35px;
    }

    &--two {
      margin-top: 40px;
    }
  }

  @media (min-width: $tabletPlus) {
    font-size: 14px;
    text-align: justify;
    width: 533px;

    &--one {
      margin-top: 15px;
    }

    &--two {
      margin-top: 25px;
    }
  }
}

.about__button {
  position: relative;
  margin-top: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -40px;
    width: 29px;
    height: 29px;
    background-image: url("../img/icons/crown.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet) {
    width: 278px;
    margin-top: 55px;
    padding: 16px 0;

    &::before {
      left: -65px;
      top: 10px;
      width: 33px;
      height: 33px;
    }
  }

  @media (min-width: $tabletPlus) {
    margin-top: 35px;
  }
}
