.intro {
  margin-top: 69px;

  @media (min-width: $tablet) {
    position: relative;
    margin-top: 79px;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 0;
      background-image: url("../img/tablet/rightCrap.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
      height: 500px;
      z-index: -1;
    }
  }

  @media (min-width: $laptop) {
    background-image: url("../img/desktop/craps.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 89px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    background-position: 0 50%;
    margin-top: 99px;
  }
}

.intro__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $laptop) {
    display: grid;
    grid-template-columns: 435px 615px;
    grid-template-rows: 165px 45px 50px;
    row-gap: 60px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 530px 670px;
    grid-template-rows: 170px 55px 55px;
    row-gap: 75px;
  }
}

.intro__title {
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  text-align: center;
  width: 290px;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 60px;
    text-align: left;
    width: 434px;
  }

  @media (min-width: $desktop) {
    font-size: 52px;
    line-height: 63px;
    width: 540px;
  }
}

.intro__description {
  color: $grey;
  text-align: center;
  position: relative;
  width: 260px;
  margin-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 120px;
    background-image: url("../img/icons/crown.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  @media (min-width: $tablet) {
    text-align: left;
    width: 320px;
    margin-left: 65px;

    &::before {
      width: 33px;
      height: 33px;
      top: 5px;
      left: -60px;
    }
  }

  @media (min-width: $laptop) {
    width: 365px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    width: 440px;
  }
}

.intro__buttons {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  background-color: rgba($black, 0.6);
  width: 330px;
  margin-top: 30px;
  box-shadow: 0 0 55px 60px rgba($black, 0.6);

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
    width: 434px;
    margin-top: 40px;
    box-shadow: none;
  }

  @media (min-width: $laptop) {
    margin-top: 0;
  }
}

.intro__button {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;

  &--about {
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    transition: $basic;

    &:hover {
      color: $dark;
      background-color: $white;
    }
  }

  @media (min-width: $tablet) {
    padding: 11px 0;

    &--buy {
      width: 253px;
    }

    &--about {
      width: 140px;
      padding: 11px 2px;
    }
  }

  @media (min-width: $laptop) {
    font-size: 16px;
  }
}

.intro__img {
  position: relative;
  display: block;
  margin: 30px auto 0 auto;
  z-index: -1;

  @media (min-width: $tablet) {
    width: 640px;
    height: 545px;
    margin: 45px auto 0 auto;
  }

  @media (min-width: $laptop) {
    grid-row: 1/-1;
    grid-column: 2;
    width: 520px;
    height: 470px;
    margin-top: 0;
    z-index: 0;
  }

  @media (min-width: $desktop) {
    width: 600px;
    height: 530px;
  }
}
