.main-footer__info {
  @media (min-width: $tabletPlus) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-footer__title {
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 60px;
  }

  @media (min-width: $tabletPlus) {
    font-size: 28px;
    line-height: 40px;
  }
}

.main-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-top: 20px;

  @media (min-width: $tablet) {
    column-gap: 45px;
    margin-top: 25px;
  }

  @media (min-width: $tabletPlus) {
    column-gap: 20px;
    margin-top: 0;
  }
}

.main-footer__link {
  display: block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icons/instagram.svg");
  }

  &--telegram {
    background-image: url("../img/icons/telegram.svg");
  }

  &--vk {
    background-image: url("../img/icons/vk.svg");
    width: 23px;
    height: 25px;
  }

  &--youtube {
    background-image: url("../img/icons/youtube.svg");
    width: 26px;
    height: 21px;
  }

  &--tiktok {
    background-image: url("../img/icons/tt.svg");
  }
}

.main-footer__copyright {
  text-align: center;
  margin-top: 25px;

  @media (min-width: $tabletPlus) {
    margin-top: 0;
  }
}

.main-footer__dev {
  font-size: 14px;
  line-height: 17px;
  color: $grey;
  display: block;
  width: max-content;
  margin: 0 auto;

  @media (min-width: $tabletPlus) {
    margin: 0;
  }
}
