.results__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__track {
  width: 360px;
  margin-top: 30px;

  @media (min-width: $tablet) {
    width: 640px;
  }

  @media (min-width: $tabletPlus) {
    width: auto;
    margin-top: 40px;
  }
}

.results__title {
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 60px;
  }
}

.results__slides {
  @media (min-width: $tabletPlus) {
    display: flex;
    width: 885px;
  }
}

.results__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;

  @media (min-width: $tablet) {
    width: 640px;
  }

  @media (min-width: $tabletPlus) {
    &--after {
      grid-column: 2;
    }
  }
}

.results__suptitle {
  text-transform: uppercase;
  width: max-content;
  background-color: $brown;
  padding: 5px 40px;
  border: 1px solid $grey;
  border-radius: $radius;
}

.results__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
  margin-top: 30px;
  list-style: none;

  @media (min-width: $tablet) {
    row-gap: 30px;
  }

  @media (min-width: $tabletPlus) {
    row-gap: 45px;
  }
}

.results__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: $brown;
  border: 1px solid $grey;
  border-radius: $radius;
  height: 60px;
  padding: 55px 25px 20px 25px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    width: 39px;
    height: 39px;
    background-image: url("../img/icons/star.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet) {
    row-gap: 12px;
    padding: 80px 25px 25px 25px;

    &::before {
      top: 14px;
      width: 53px;
      height: 53px;
    }
  }
}

.results__description {
  font-size: 14px;
  font-weight: 100;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 15px;
  }
}
