.container {  // 380px
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tabletW) {  //768px
    width: 624px;
    padding: 0 72px;
  }

  @media (min-width: $pre-desktopW) {  //1024px
    width: 944px;
    padding: 0 40px;
  }
}
