@font-face {
  font-family: "Another-danger";
  src: url("../fonts/Another-danger.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 380px;
  min-height: 100vh;
  background-color: $grey2;
  margin: 0;
  padding: 0;
}

@media (min-width: $tabletW) {
  body {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (min-width: $desktopW) {
  body {
    font-size: 20px;
  }
}
