// widths
$tabletW: 768px;
$pre-desktopW: 1024px;

// colors
$white: #ffffff;
$black: #000000;
$grey: #6b6b6b;
$grey2: #e5e5e5;
$red: #a60f0f;
$red2: #eb0000;
$blue: #0400d9;
$yellow: #fffb00;

// animations
$basic: 0.4s;
$basicOp: 0.6;
