.container {
  padding: 30px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 50px 35px;
  }

  @media (min-width: $laptop) {
    padding: 70px 80px;
  }

  @media (min-width: $desktop) {
    padding: 80px 250px;
  }
}
