.container {
  padding: 30px 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 50px 40px;
  }

  @media (min-width: $tabletPlus) {
    padding: 55px 60px;
  }

  @media (min-width: $laptop) {
    padding: 60px 120px;
  }
}
