// Брейкпоинты

$tablet: 768px;
$laptop: 1280px;
$desktop: 1920px;

// Цвета

// $mainBg: #332608;
$bg: #101010;
$dark: #191919;
$white: whitesmoke;
$grey: #B6B6B6;
$grey2: #2c2c2c;
$grey3: #363636;
$gold: linear-gradient(50deg, #ECB62E, #FFDEAC, #F2BB2D);
$brown: #393939;
$black: black;
$yellow: #F1CA66;

// Для анимаций

$radius: 5px;
$basic: 0.4s;
$basicOp: 0.7;
